# ECLIpse stuff
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.project
.classpath
.settings/
.loadpath

# maven stuff
target/
/bin

#build specific stuff
dependency-reduced-pom.xml
rascal-shell-current.jar

#other stuff
.DS_Store

